[Unit]
Description= "timer for logging mydongle"

[Timer]
OnBootSec=5min
OnUnitActiveSec=9min
#OnCalendar=Mon..Fri *-*-* *:03:*
Unit=mydongle.service

[Install]
WantedBy=multi-user.target
