[Unit]
Description=Dongle Software for recording temperature and humidity
After=network-online.target

[Service]
User=mydongle
Type=exec
WorkingDirectory=/home/mydongle/
ExecStart= /usr/bin/python3 /home/mydongle/dongleSHT30.py
StandardOutput=append:/mnt/officelog/%H.log
#StandardError=journal
Restart=no

[Install]
WantedBy=default.target
