[Unit]
Description=Dongle Software for recording temperature and humidity
After=network-online.target

[Service]
User=mydongle
Type=exec
WorkingDirectory=/usr/local/mydongle/
ExecStart= /bin/bash /usr/local/mydongle/logClimaWithDongle.sh
#StandardOutput=append:/mnt/officelog/%H.txt
#StandardError=journal
Restart=no

[Install]
WantedBy=default.target
