[Unit]
Description=Dongle Software
After=network-online.target

[Service]
User=mydongle
Type=exec
ExecStart= /usr/bin/python3 /home/mydongle/SHT30_software/dongleSHT30.py
StandardOutput=append:/home/mydongle/log11.log
#StandardError=journal
Restart=no

[Install]
WantedBy=default.target
